$default_font: "Plus Jakarta Sans", serif;
$main_color: #3328BF;
$secondary_color: #808080;
$dark_color: #0D0D0D;
$color1: #F9F9FB;
$default_weight_xl: 600;
$default_weight_m: 500;
$default_weight_s: 400;

